*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.formpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input{
    margin: 10px;
    border: 1px solid #90b1ee;
    padding: 10px;
    border-radius: 20px;
}
.formsub{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #90b1ee;
    color: #fff;
    border: 2px solid #90b1ee;
    margin: 10px;
}
.link{
    color: #fff;
}
table,th,td{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 15px;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home-btn{
    background-color: #90b1ee;
    border: 2px solid #90b1ee;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 100px;
}